{% extends 'main/base.html' %}

{% block content %}

  {% block content_header %}
    <h2>Assignments</h2>
    {% if user.is_authenticated and request.user.groups.all.0.name == 'Teacher' %}
    <p>
      <a href="{% url 'main:upload_assignment' %}
      " class="btn btn-primary">Upload Assignment</a>
    </p>
    {% endif %}
  {% endblock %}

<form method ="get" class = "search-bar">

<input type= "text" name = 'q' placeholder = "Search.."  value='{{query}}'>

</form>

  <table class="table mb-0">
    <thead>
      <tr>
        <th>Course</th>
        <th>Teacher</th>
        <th>Date Uploaded</th>
        <th>Due Date</th>
        <th>Download</th>
        {% if user.is_authenticated and request.user.groups.all.0.name == 'Teacher' %}
        <th>Delete</th>
        {% endif %}
      </tr>
    </thead>
    {% if assignments %}
    <tbody>
      {% for f in assignments %}
        <tr>
          <td>{{ f.course }}</td>
          <td>{{ f.teacher }}</td>
          <td>{{ f.date }}</td>
          <td>{{ f.due_date }}</td>
          <td>
            <a href="{{ f.assign_file.url }}" class="btn btn-primary btn-sm" target="_blank">
              Download File
            </a>
          </td>
          {% if user.is_authenticated and request.user == f.teacher.user %}
          <td>
          <form method="post" action="{% url 'main:delete_assignment' f.pk %}">
              {% csrf_token %}
              <button type="submit" class="btn btn-danger btn-sm">Delete</button>
            </form>
          </td>
          {% endif %}
        </tr>
      {% endfor %}
    </tbody>
    {% endif %}
  </table>
{% endblock %}
