{% extends 'main/base.html' %}

{% block content %}

  {% block content_header %}
    <h2>Grades</h2>
    {% if user.is_authenticated and request.user.groups.all.0.name == 'Teacher' %}
    <p>
      <a href="{% url 'main:upload_grades' %}
      " class="btn btn-primary">Upload Grades</a>
    </p>
    {% endif %}
  {% endblock %}



  <table class="table mb-0">
    <thead>
      <tr>
        <th>Student</th>
        <th>Course</th>
        <th>Teacher</th>
        <th>Grade</th>
        <th>Submitted File</th>
        <th>Delete</th>
      </tr>
    </thead>
    {% if grades %}
    <tbody>
      {% for grade in grades %}
        <tr>
          <td>{{ grade.student }}</td>
          <td>{{ grade.course }}</td>
          <td>{{ grade.teacher }}</td>
          <td>{{ grade.grade }}</td>
          {% if user.is_authenticated and request.user == grade.student.user or request.user.groups.all.0.name == 'Teacher'%}
          <td>
            <a href="{{ grade.submission.sub_file.url }}" class="btn btn-primary btn-sm" target="_blank">
              Submitted File
            </a>
          </td>
          {% endif %}
          {% if user.is_authenticated and request.user == grade.teacher.user %}
          <td>
          <form method="post" action="{% url 'main:delete_grade' grade.pk %}">
              {% csrf_token %}
              <button type="submit" class="btn btn-danger btn-sm">Delete</button>
            </form>
          </td>
          {% endif %}
        </tr>
      {% endfor %}
    </tbody>
    {% endif %}
  </table>
{% endblock %}
