{% extends 'main/base.html' %}

{% block content %}

  {% block content_header %}
    <h2>Submissions</h2>
    <p>
      <a href="{% url 'main:upload_submission' %}
      " class="btn btn-primary">Upload your Submission</a>
    </p>
  {% endblock %}

<form method ="get" class = "search-bar">

<input type= "text" name = 'q' placeholder = "Search.."  value='{{query}}'>

</form>

  <table class="table mb-0">
    <thead>
      <tr>
        <th>Student</th>
        <th>Course</th>
        <th>Teacher</th>
        <th>Date Submitted</th>
        <th>Download</th>
        <th>Delete</th>
      </tr>
    </thead>
    {% if submissions %}
    <tbody>
      {% for f in submissions %}
        <tr>
          <td>{{ f.student }}</td>
          <td>{{ f.course }}</td>
          <td>{{ f.teacher }}</td>
          <td>{{ f.sub_date }}</td>
          <td>
            <a href="{{ f.sub_file.url }}" class="btn btn-primary btn-sm" target="_blank">
              Download File
            </a>
          </td>
          <td>
          <form method="post" action="{% url 'main:delete_submission' f.pk %}">
              {% csrf_token %}
              <button type="submit" class="btn btn-danger btn-sm">Delete</button>
            </form>
          </td>
        </tr>
      {% endfor %}
    </tbody>
    {% endif %}
  </table>
{% endblock %}
